<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1 align='center'>Welcome to Text Analyzer</h1>
<h3>Enter your text Below : </h3>
<form action='/analyze' method='get'>
    <textarea name='text' spellcheck="false" style="margin: 0px; width:
    1446px; height: 159px;"></textarea><br>
    <input type="checkbox" name="removepunc"> Remove Punctuations <br>
    <input type="checkbox" name="uppercase"> Upper Case <br>
    <input type="checkbox" name="newlineremove"> New Line Remove <br>
    <input type="checkbox" name="extraspaceremove"> Extra Space Remove <br>
    <input type="checkbox" name="charcount"> Count Characters <br>
    <input type="checkbox" name="spell"> Spell Checker <br>
    <br>
    <button type='submit'>Analyze Text</button>
</form>
</body>
</html>